<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Smile_Customer::system_config_god_mode" translate="title" title="Smile Customer Config God Mode" sortOrder="10">
                    <resource id="Smile_Customer::system_config_details" translate="title" title="Smile Customer Config Details" sortOrder="10">

                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
